[submodule "Sources/Engine/ImGui"]
	path = Sources/Engine/ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "Sources/Engine/jsoncpp"]
	path = Sources/Engine/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
